h1 {
	font-family: 'Georgia', 'Times', "Times New Roman", serif;
	color:#FFFFFF;
}
body {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header {
	background-color:#4aaaa5;
	width:20%;
	padding-left:10px;
}
h2 {
	color:#4aaaa5;
}
p {
	text-align:center;
}
ul {
	float:right;
}
img {
	float:left;
	height:30%;
	padding-left: 40px;
}
h3 {
	color:#4aaaa5;
	text-align:center;
}
.container {
	background-color: #F8F8FF;
	height:200px;
	width:200px;
}
.footer {
	clear:both;
	position:absolute;
	background-color: #666666;
	right:0;
	bottom:0;
	text-align:center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}